/* makes the width expand the entire width*/
.wy-nav-content {
    min-width: 360px;
    max-width: 100%;
}

/* allows table to be multi-line */
table.docutils td {
    word-wrap:break-word;
    white-space:pre-wrap;
}


.mermaid svg {
    width: 40% !important;
    height: auto !important;
    transform-origin: center center;
}


/* .node.default{
    min-height:200px;

  transform-origin: top left !important;
  transform-box: fill-box;
} */